@import './vars';
.myOrder-background {
	height: calc(100vh - 60px);
	width: 100vw;
	position: absolute;
	top: 60px;
	left: 0;
	background-color: rgba($color: #121212, $alpha: 0.1);
	z-index: -1;
}

.MyOrder {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	right: 15px;
	top: 61px;
	width: 360px;
	height: calc(100vh - 62px);
	padding: 24px;
	box-sizing: border-box;
	background-color: rgb(246, 246, 246);
	border: 1px solid #221f2e;
	border-radius: 6px;
}
.my-order-content {

	margin-bottom: 10px;
	overflow: auto;
	padding-right: 10px;
	&::-webkit-scrollbar {
		width: 8px;
		&-thumb {
			border-radius: 4px;
			background-color: #ccc;
		}
	}
}
.title {
	font-size: $lg;
	font-weight: bold;
    &-container {
        display: flex;
        & img {
            transform: rotate(180deg);
            margin-right: 14px;
        }
    }
}
.order {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 16px;
	align-items: center;
	background-color: $text-input-field;
	margin-bottom: 12px;
	border-radius: 8px;
	padding: 0 24px;
    & p:nth-child(1) {
        display: flex;
        flex-direction: column;
    }
    & p span:nth-child(1) {
        font-size: $md;
        font-weight: bold;
    }
    & p:nth-child(2) {
        text-align: end;
        font-weight: bold;
    }    
}
.primary-button {
	background-color: $hospital-green;
	border-radius: 8px;
	border: none;
	color: $white;
	width: 100%;
	cursor: pointer;
	font-size: $md;
	font-weight: bold;
	height: 50px;
}
@media (max-width: 640px) {
	.MyOrder {
		width: 100%;
	}
}